@import "../variables";

.app_header {
  display: grid;
  grid-template-columns: 3rem 4.5rem 1fr;
  align-items: center;
  padding: 0.5rem 0.5rem 0.25rem;
  height: 5.5rem;
  background-color: $defaultColorWhite;

  .app_back {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

    & > span {
      font-size: 3rem;
    }
  }

  .app_logo {
    display: block;

    img {
      display: block;
      width: 4.5rem;
    }
  }

  .app_slogan {
    margin-right: 2.5rem;
    font-size: 1.25rem;
    font-weight: 200;
    text-align: center;
    line-height: 1.75rem;
  }
}
