$defaultColorWhite: #ffffff;
$defaultColorText: #666666;

$cedriccColorPrimary: #973130;
$cedriccBackgroundImage: url("../assets/images/bg_bubbles_cedricc.svg");

$quauthlyColorPrimary: #408787;
$quauthlyBackgroundImage: url("../assets/images/bg_bubbles_quauthly.png");