@import "reset";
@import "variables";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;900&family=Material+Icons&family=Material+Icons+Outlined&display=swap");

@font-face {
  font-family: "quantum";
  src: url("./assets/fonts/quantum-webfont.eot");
  src: url("./assets/fonts/quantum-webfont.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/quantum-webfont.woff2") format("woff2"),
    url("./assets/fonts/quantum-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
    font-size: 16px;

    body {
        font-family: "Poppins", sans-serif;
        background-color: $defaultColorWhite;
    }
}